
#root{
  padding: 0px;
}
body{
  margin: 0px;
}
.custom-table {
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .custom-table th{
    text-align: center;
  }
  .custom-table td {
    padding: 8px;
    text-align: left;
  }
.ant-table-cell.name {
    font-weight: bold;
  }
.ant-table-cell .name {
    font-weight: bold;
}
.ant-table-wrapper .ant-table-thead >tr>th{
    background: #5D5FEF;
    color: #fff;
}
.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    width: 0px;
}
.custom-table .status-wrapper {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 100px;
    width: 50px;
  }
  .custom-table .status-active {
    background-color: #83d5b7; 
    color: #077e59; 
  }
  .custom-table .status-inactive {
     background-color: #f06c6c;
    color: #9b0b0b;
  }
  .text-edit{
    color: green;
  }
  .text-del{
    color: red;
  }
  .anticon-search{
    color: #fff;
  }
  .ant-table-wrapper .ant-table-column-sorter{
    color: #fff;
  }
  .anticon-filter{
    color: #fff;
  }
  /* Responsive cho màn hình tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .custom-table {
    overflow-x: auto;
    width: 100%;
  }
  .ant-table-content {
    width: 100%;
  }
  .text-edit,
  .text-del {
    display: block;
    text-align: center;
  }
  .status-wrapper {
    display: block;
    text-align: center;
  }
}

/* Responsive cho màn hình điện thoại (nếu cần) */
@media only screen and (max-width: 767px) {
  .custom-table {
    overflow-x: auto;
    width: 100%;
  }
  .ant-table-content {
    width: 100%;
  }
  .text-edit,
  .text-del {
    display: block;
    text-align: center;
  }
  .status-wrapper {
    display: block;
    text-align: center;
  }
}

  /* @media only screen and (min-width: 480px) and (max-width: 768px) {
    .custom-table {
      overflow-x: auto;
      width: 100%;
    }
    .ant-table-content {
      width: 100%;
    }
  } */
  